body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}

.header, .footer{
    background-color: bisque;
}

.site-title {
    color: brown;
}

main #my-image {
    box-shadow: 1px, 1px, 2px, 1px, black;
}